<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/layui/2.5.6/css/layui.css"/>

</head>
<body>
<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item"><a href="aggregate/setIndex">首页</a></li>
    <li class="layui-nav-item layui-this"><a href="">测试集</a></li>
    <li class="layui-nav-item"><a href="">待确定</a></li>
    <li class="layui-nav-item"><a href="">社区</a></li>
</ul>

<script>
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element;

        //…
    });
</script>
</body>
</html>