<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/layui/2.5.6/css/layui.css}">
    <script type="text/javascript"   th:src="@{/webjars/layui/2.5.6/layui.js}"></script>
    <script type="text/javascript"   th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>

</head>
<body>

        <div class="layui-container">
            <form class="layui-form" action="">

                    <div class="layui-form-item">
                        <label class="layui-form-label">接口名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" required  lay-verify="required" placeholder="请输入接口名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item" style="display: inline-block;width:20%;">
                        <label class="layui-form-label">请求方式</label>
                        <div class="layui-input-block">
                            <select name="city" lay-verify="required" lay-filter="method">
                                <option value="0">GET</option>
                                <option value="1">POST</option>
                                <option value="2">PUT</option>
                                <option value="3">DELETE</option>
                                <option value="4">HEAD</option>
                            </select>
                        </div>
                    </div>



                <div class="layui-form-item" style="display: inline-block; width: 60%">
                    <label class="layui-form-label">接口路径</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" required  lay-verify="required" placeholder="请输入接口路径" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div style="display: inline-block;margin-left: 5%">
                        <button type="button" class="layui-btn layui-btn-primary" lay-filter="formDemo">保存</button>
                        <button type="button" class="layui-btn">发送</button>
                </div>
            </form>
            <div id="params">
                <div>
                    <input type="radio" name="request" value="nan" title="请求参数" checked>请求参数
                    <input type="radio" name="request" value="nv" title="请求头部信息">请求头部信息
                </div>
            </div>
            <div id="param">
                <div>
                    <input type="text" class="layui-input" name="title" lay-verify="required" lay-verType="tips" placeholder="请输入参数" autocomplete="off" >
                    <input type="text" class="layui-input" name="title" lay-verify="required" lay-verType="tips" placeholder="请输入标题" autocomplete="off" >
                </div>
            </div>

        </div>




<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });

    layui.use(['layer', 'jquery', 'form'], function () {
        var layer = layui.layer,
            $ = layui.jquery,
            form = layui.form;

        form.on('select(method)', function(data){
            if(data.value == 1){
                // $("#searchSessionNum").attr("disabled","true");
                // form.render('select');
                alert("111111111")
            }else{
                $("#searchSessionNum").removeAttr("disabled");
                form.render('select');//select是固定写法 不是选择器
            }
        });
    });



</script>
</body>
</html>