<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/layui/2.5.6/css/layui.css}">
    <script type="text/javascript"   th:src="@{/webjars/layui/2.5.6/layui.js}"></script>
    <script type="text/javascript"   th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>

















</head>
<body>
    <script type="text/javascript">
        function msgfun() {
            layui.use('layer', function(){
                layer.open({
                    type:1,
                    title:"添加测试集",
                    area: ["920px", "300px"],
                    offset: '20%',
                    content: $('#select_pe_content').html(),
                    cancel: function(){
                    }
                });
            });
        }

        // function


        layui.use('table', function(){
            var table = layui.table;
            var currentPage = 1
            var pageSize = 5
            table.render({
                elem: '#demo'
                ,type: "GET"
                ,height: 550
                ,title: "测试集"
                ,url:"/aggregate/qASet"
                ,toolbar: '#toolbarDemo'
                ,defaultToolbar: ['filter', 'exports', 'print', {
                    title: '提示'
                    ,layEvent: 'LAYTABLE_TIPS'
                    ,icon: 'layui-icon-tips'
                }]
                ,page: true

                ,cols: [
                    [
                    {type: 'checkbox', fixed: 'left'}
                    ,{field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
                    ,{field: 'name', title: '测试集', width:100,edit: 'text'}
                    ,{field: 'createTime', title: '创建时间', width:300, sort: true}
                    ,{field: 'updateTime', title: '修改时间', width:300}
                    ,{field: 'creater', title: '创建人', width: 100}
                    ,{field: 'updater', title: '修改人', width: 100, sort: true}
                    ,{field: 'baseUrl', title: 'BaseUrl', width: 500,edit: 'text'}
                    ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:180,fixed: 'right'}
                ]
                ]
                ,request: {
                    pageName: 'currentPage'
                    ,limitName: 'pageSize'
                }
            });
            table.on('toolbar(demo)', function(obj){
                var checkStatus = table.checkStatus(obj.config.id);
                switch(obj.event){
                    case 'insertData':
                        this.onclick(msgfun())
                        break;
                    case 'getCheckLength':
                        var data = checkStatus.data;
                        layer.msg('选中了：'+ data.length + ' 个');
                        break;
                    case 'interfaceList':

                        break;
                    case 'LAYTABLE_TIPS':
                        layer.alert('这是工具栏右侧自定义的一个图标按钮');
                        break;
                };
            });
            table.on('tool(demo)', function(obj){
                var data = obj.data;
                if(obj.event === 'del'){
                    layer.confirm('真的删除行么', function(index){
                        obj.del();
                        layer.close(index);
                    });
                } else if(obj.event === 'edit'){
                    layer.prompt({
                        formType: 2
                        ,value: data.email
                    }, function(value, index){
                        obj.update({
                            email: value
                        });
                        layer.close(index);
                    });
                }else {
                    alert("1111")
                }
            });

        });






        layui.use(['table', 'util'], function(){
            var table = layui.table
                ,util = layui.util;

            //监听单元格编辑
            table.on('edit(demo)', function(obj){
                var value = obj.value //得到修改后的值
                    ,data = obj.data //得到所在行所有键值
                    ,field = obj.field; //得到字段
                layer.msg('[ID: '+ data.id +'] ' + field + ' 字段更改值为：'+ util.escape(value));
            });
        });


    </script>
    <div id="select_pe_content" style="display: none">
        <div style="padding-top: 3%">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">测试集合</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" required  lay-verify="required" placeholder="请输入测试集名称" autocomplete="off" style="width:90%" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">BaseUrl</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" required width="90%" lay-verify="required|url" placeholder="请输入测试集URL" autocomplete="off" class="layui-input" style="width:90%">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div>
        <ul class="layui-nav" lay-filter="">
            <li class="layui-nav-item"><a href="aggregate/setIndex">最新活动</a></li>
            <li class="layui-nav-item layui-this"><a href="">产品</a></li>
            <li class="layui-nav-item"><a href="">大数据</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">解决方案</a>
                <dl class="layui-nav-child"> <!-- 二级菜单 -->
                    <dd><a href="">移动模块</a></dd>
                    <dd><a href="">后台模版</a></dd>
                    <dd><a href="">电商平台</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">社区</a></li>
        </ul>
    </div>
    <div id="set_table" style="padding-top: 5%">
        <table id="demo" lay-filter="demo"></table>
    </div>
</body>
</html>