<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/layui/2.5.6/css/layui.css}">
    <script type="text/javascript"   th:src="@{/webjars/layui/2.5.6/layui.js}"></script>
    <script type="text/javascript"   th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script id="param" type="text/html">
        <div class="layui-form-item">
            <div>

                    <input type="text" name="number" lay-verify="required|number" autocomplete="off" class="layui-input" placeholder="KEY">
                    <input type="text" name="date" id="date" lay-verify="date" placeholder="VALUE" autocomplete="off" class="layui-input">
                    <i class="layui-icon layui-icon-add-1" style="font-size: 15px;"></i>
            </div>
        </div>
    </script>


    <script id="header" type="text/html">
        <div>
            我是头信息
        </div>
    </script>
</head>
<body>

        <div class="layui-container">
            <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label">接口名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" required  lay-verify="required" placeholder="请输入接口名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item" style="display: inline-block;width:20%;">
                        <label class="layui-form-label">请求方式</label>
                        <div class="layui-input-block">
                            <select name="city" lay-verify="required" lay-filter="method">
                                <option value="0">GET</option>
                                <option value="1">POST</option>
                                <option value="2">PUT</option>
                                <option value="3">DELETE</option>
                                <option value="4">HEAD</option>
                            </select>
                        </div>
                    </div>
                <div class="layui-form-item" style="display: inline-block; width: 60%">
                    <label class="layui-form-label">接口路径</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" required  lay-verify="required" placeholder="请输入接口路径" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div style="display: inline-block;margin-left: 5%">
                        <button type="button" class="layui-btn layui-btn-primary" lay-filter="formDemo">保存</button>
                        <button type="button" class="layui-btn">发送</button>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input type="radio" lay-filter="role" name="role" value="1" lay-skin="primary" title="params" checked>
                        <input type="radio"  lay-filter="role" name="role" value="2" lay-skin="primary" title="headers">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-inline">
                       <div id="level"></div>
                    </div>
                </div>
            </form>
        </div>

<script>


    layui.use('form', function(){
        var form = layui.form;
        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });

        $("#level").html("");
        var html=document.getElementById("param").innerHTML;
        $("#level").append(html);
        form.on('radio(role)',function(data){
            if(data.value==1){
                $("#level").html("");
                var html=document.getElementById("param").innerHTML;
                $("#level").append(html);
            }
            if(data.value==2){
                $("#level").html("");
                var html=document.getElementById("header").innerHTML;
                $("#level").append(html);
            }
            form.render();
        })
    });

    layui.use(['layer', 'jquery', 'form'], function () {
        var layer = layui.layer,
            $ = layui.jquery,
            form = layui.form;

        form.on('select(method)', function(data){
            if(data.value == 1){
            }else{
                $("#searchSessionNum").removeAttr("disabled");
                form.render('select');
            }
        });
    });

</script>
</body>
</html>